# Ignore everything by default
*

# Keep these file types
!*.sh
!*.py
!*.md
!*.nix
!.gitignore
!pyproject.toml
!Dockerfile*
!docker-compose.yml

# Kepp all directories (so git can see inside them)
!*/

.venv
.claude
.pids
*.nc
